body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin-inline: auto;
  color: hsl(209, 39%, 23%);
  background-color: hsl(212, 33%, 89%);
}

#my_dataviz {
  padding: 10px;
  height: 450px;
}

.card {
  margin-block: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#stats ul.flex {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

#stats ul.flex li {
  font-size: 2rem;
  text-align: center;
  list-style-type: none;
}

#stats ul.flex li p {
  font-size: 1rem;
}
