body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: hsl(209, 39%, 23%);
  background-color: hsl(212, 33%, 89%);
  transition: padding-right 300ms ease-in-out;
}

body.sidebarOpen {
  padding-right: 350px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}
header nav ul li:not(:last-child) {
  margin-right: 30px;
}

header nav ul li a {
  color: hsl(209, 39%, 23%);
  text-decoration: none;
  font-size: 20px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

#my_dataviz {
  padding: 10px;
  height: 450px;
}

#user_filter {
  padding: 8px 12px;
  border: 0;
}

button {
  background: #102a43;
  color: #f0f4f8;
  border: 0;
  padding: 8px 12px;
  margin-left: 0;
  margin-right: 0;
}

button:hover {
  background: #334e68;
}

.rounded-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rounded {
  border-radius: 20px;
}

.shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background: #bcccdc;
  color: #243b53;
}

#my_dataviz rect.present,
#my_dataviz text {
  cursor: pointer;
}

.card {
  margin-block-start: 10px;
  margin-block-end: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.stats ul.flex {
  display: grid;
  padding-left: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 120px;
}

.stats ul.flex li {
  font-size: 2rem;
  text-align: center;
  list-style-type: none;
}

.stats ul.flex li p {
  font-size: 1rem;
}

.tooltip {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 350px;
}

.tooltip h2 {
  margin-top: 0px;
  font-size: 2.2em;
  margin-bottom: 0px;
}

.tooltip h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.tooltip h2,
.tooltip h3 {
  margin-left: 30px;
}

.tooltip ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tooltip li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tooltip img {
  width: 30px;
  height: 30px;
  margin-inline-end: 10px;
  border-radius: 30px;
}

#sidebarCloseButton {
  position: absolute;
  top: 10px;
  left: -15px;
}

#statsList .stats {
  margin-bottom: 40px;
}
