name: Deploy Site

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: yarn

      - name: Deploy Site
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: |
          cd $GITHUB_WORKSPACE

          yarn build
          cp -r site/weeks/ dist
          cp _headers dist
          cp site/js/data/data.json dist
          npx netlify-cli deploy --dir=dist --prod
